body {
    background: black;
    color: white;
}

#button {
    margin: auto;
    font: 70px Consolas;
    color: white;
    margin-bottom: -15px;
    border-radius: 5px;
    transition: 1s;
}

#undo, #score {
    border: none;
    outline: none;
    width: 100px;
    height: 70px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background: white;
    font: 15px Consolas;
    color: black;
    float: left;
}

#title { float: left; }

#undo { margin-left: 10px; }

#score { margin-left: 50px; }

#undo:hover {
    cursor: pointer;
    transition: .5s;
    background: #D2D2C8;
}


.game-container {
    display: grid;
    grid-column-gap: 10px;
    z-index: 1;
    padding: 10px
}

.grid-container {
    position: relative;
    display: grid;
    width: 430px;
    height: 430px;
    padding: 10px;
    margin: auto;
    grid-gap: 10px;
    border-radius: 3px;
    background: white;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-column-gap: 10px;
}

.grid-cell {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #D2D2C8;
}

.tile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
    height: 430px;
    
}

.tile {
    position: absolute;
    z-index: 3;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 50px;
    font-family: Consolas;
    color: white;
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.new-tile {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: appear 150ms;
    animation-fill-mode: both;
}